@media (min-width: 140px ) and (max-width: 621px){
.f0{
    width: 73%;
    height: 10rem;
    border-radius: 0.5rem;
    background-image: url('./image/images.jpeg');
    background-repeat: no-repeat;
}
.plus1,.plus2,.plus3,.plus4,.plus5,.plus6,.plus7,.plus8,.plus9,.plus10,.plus11,.plus12,.plus13{
    width: 15%;
    height: 1.2rem;
    text-align: center;
    opacity: 0.4;
    background-color: rgb(139, 115, 115);
    border-radius: 0.2rem;

}
.photo1,.photo2,.photo3,.photo4,.photo5,.photo6,.photo7,.photo8,.photo9,.photo10,.photo11,.photo12,.photo13{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.level{
    margin-top: 5%;
    width: 100%;
}
.f2{
    width: 73%;
    height: 10rem;
    border-radius: 0.5rem;
    background-image: url('./image/ext_0_3049546.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.f3{
    width: 73%;
    height: 10rem;
    border-radius: 0.5rem;
    background-image: url('./image/ext_0_2851472.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.f4{
    width: 73%;
    height: 10rem;
    border-radius: 0.5rem;
    background-image: url('./image/efa7d9fb438720f7bd14df9afbc54db5384e8b5d.webp');
    background-size: cover;
    background-repeat: no-repeat;
}
.f5{
    width: 73%;
    height: 10rem;
    border-radius: 0.5rem;
    background-image: url('./image/DSC_0232-scaled.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.f6{
    width: 73%;
    height: 10rem;
    border-radius: 0.5rem;
    background-image: url('./image/diviser-maion-en-appartement.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.f7{
    width: 73%;
    height: 10rem;
    border-radius: 0.5rem;
    background-image: url('./image/deco-appartement-moderne.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.f8{
    width: 73%;
    height: 10rem;
    border-radius: 0.5rem;
    background-image: url('./image/deco-appartement-moderne-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.f9{
    width: 73%;
    height: 10rem;
    border-radius: 0.5rem;
    background-image: url('./image/Capture-e1638435175199.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.f10{
    width: 73%;
    height: 10rem;
    border-radius: 0.5rem;
    background-image: url('./image/baisser-prix-de-vente-maison-ou-appartement.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.f11{
    width: 73%;
    height: 10rem;
    border-radius: 0.5rem;
    background-image: url('./image/appartement-de-ville-moderne.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.f12{
    width: 73%;
    height: 10rem;
    border-radius: 0.5rem;
    background-image: url('./image/a3795fba115ca28404c0db712d52b331e9c6dda7.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.f13{
    width: 73%;
    height: 10rem;
    border-radius: 0.5rem;
    background-image: url('./image/ext_0_2851472.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.level div+div{
margin-top: 4%;
}
}